* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

svg {
  background-color: beige;
}

.button {
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  background: #dfdfdf;
  width: 100px;
  margin-bottom: 10px;
  margin-right: 5px;
  display: inline-block;
  cursor: pointer;
}

/* Index2 */
#drawingBoard {
  border: 1px solid;
}

nav {
  margin-top: 0.6rem;
}

.controls {
  width: 300px;
  height: 450px;
  border: 1px solid;
}

.wrapper {
  display: flex;
}

.strokeWidthWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-block: 1rem;
}
